<div class = "container">
<h1>Polapob Resume</h1>
<div>
    <%= image_tag "/assets/Self_Profile.jpg", height:350, alt:"My Picture" %>
</div>
<div class = "titleSmall">Currently studying In Chulalongkorn University in 3th Year.</div>
<p class = "title">
Working Experience
</p>
<table class = "tableContainer">
<tr>
<th>Company</th>
<th>Working Duration</th>
<th>Description</th>
</tr>
<tr>
<td>Cleverse</th>
<td>June 2022 - July 2022</td>
<td>Blockchain Frontend Engineer + Solidity Developer</td>
</tr>
<tr class="tableRow">
<td>Vulcan Coalition</th>
<td>June 2021 - July 2021</td>
<td>AI Scientist</td>
</tr>
</table>

</div>

<style>
.title{
    font-size:24px;
    font-weight:bold;
}
.titleSmall{
    font-size:20px;
    margin-top:1rem;
}
.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.tableContainer{
    width: 80%;
}

th{
    text-align:center;
    padding: 0.15rem;
}
td{
    text-align:center;
    padding: 0.15rem;
}
.border{
    border: 2px solid black;
}

</style>


